/* .App {
  background-image: url("./img/RYKf_Back.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
} */
.App {
  background-image: url("./img/RYKf_Back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
